
.navbar {
  background-color: #333;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  padding: 14px 16px;
  }
  
  .nav-link, .nav-link:visited {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 4px;
  margin-right: 10px;
  transition: background-color 0.3s, color 0.3s;
  }
  
  .nav-link:hover, .nav-link:active {
  background-color: #ddd;
  color: black;
  }
  
  .active {
  background-color: #04AA6D;
  color: white !important;
  }
  
  @media (max-width: 600px) {
  .navbar {
    flex-direction: column; 
    align-items: center; 
  }
  
  .nav-link {
    font-size: 14px; 
    padding: 12px 10px; 
    width: 100%; 
    margin-right: 0; 
    padding: 10px 0; 
  }
  
  .nav-link, .nav-link:visited {
    font-size: 15px;
  }
  }
  .modebutton{
  margin-left: auto;
  }
  
  